<div id="resourceForm" class="valign-wrapper hide-on-small-only">
    <div class="card resources">
        <div class="card-content">
            <span class="card-title">Become A Resource Partner</span>
            <form action="/resources" method="post" id="resource_form">
                <%- include('pages/one') %>
                <%- include('pages/two') %>
                <%- include('pages/three') %>
                <%- include('pages/four') %>
                <%- include('pages/five') %>
                <div class="navigation">
                    <a id="previous" class="waves-effect waves-light btn-large previous"></a>
                    <a id="next" class="waves-effect waves-light btn-large next"></a>
                    <input id="submitButton" class="waves-effect waves-light btn-large submitButton white-text" type="submit" value="Submit Form"/>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="termsofservice" class="modal">
    <div class="modal-content">
        <p>By submitting my form I am stating that I have the authority to act on behalf of the resource partner listed in this form. I also state that even though our organization may not be faith based we commit to be faith friendly in being open to partner with the faith community. We will commit to treating all inquiries with respect, without discrimination, and with confidentiality with a desire to partner effectively so that children and families in crisis are cared for well by our community. If we can not help inquiries directly we will seek to try to refer them to community partners who can. We will make it a goal to respond to inquiries in a timely manner.</p>
    </div>
    <div class="modal-footer">
        <button id="terms-of-service-close" class="btn-large waves-effect waves-light">Close</button>
    </div>
</div>