<div id="resourceForm" class="valign-wrapper hide-on-small-only">
    <div class="card resources">
        <div class="card-content">
            <span class="card-title">Become A Resource</span>
            <form action="/resources" method="post" id="resource_form">
                <%- include('pages/one') %>
                <%- include('pages/two') %>
                <%- include('pages/three') %>
                <%- include('pages/four') %>
                <%- include('pages/five') %>
                <div class="navigation">
                    <a id="previous" class="waves-effect waves-light btn-large previous"></a>
                    <a id="next" class="waves-effect waves-light btn-large next"></a>
                    <input id="submitButton" class="waves-effect waves-light btn-large submitButton" type="submit" value="Submit Form"/>
                </div>
            </form>
        </div>
    </div>
</div>