<!DOCTYPE html>
<html>
    <head>
        <!-- Meta Information -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>More Than Enough</title>

        <!-- Libraries and Dependencies -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
        <link rel="stylesheet" href="materialize-css/dist/css/materialize.min.css">
        <link rel="stylesheet" href="slick-carousel/slick/slick.css">
        <link rel="stylesheet" href="slick-carousel/slick/slick-theme.css">
        <script src="jquery/dist/jquery.min.js"></script>
        <script src="materialize-css/dist/js/materialize.min.js"></script>
        <script src="flip/dist/jquery.flip.min.js"></script>
        <script src="slick-carousel/slick/slick.min.js"></script>
        <script src="jquery-numerator/jquery-numerator.js"></script>
        
        <!-- Send Stats JSON to Jquery File -->
        <script type='text/javascript'>
            const resourcesJson = <%- JSON.stringify(resourcesData) %>
            const statsJson = <%- JSON.stringify(statsData) %>
            const errors = <%- JSON.stringify(errors) %>
            const success = <%- JSON.stringify(success) %>
        </script>

        <!-- Project Assets -->
        <link rel="stylesheet" href="css/index.css">
        <script src="js/jquery.js"></script>
        <script src="js/mapdata.js"></script>
        <script src="js/statemap.js"></script>
    </head>

    <body>
        <%- include('components/navigation'); %>
        <%- include('components/banner'); %>
        <%- include('components/video'); %>
        <%- include('components/currentStats'); %>
        <%- include('components/sponsors'); %>
        <%- include('components/familyForm'); %>
        <%- include('components/dropdownSection/dropdownSection', {number: 'one'}); %>
        <%- include('components/stats'); %>
        <%- include('components/dropdownSection/dropdownSection', {number: 'two'}); %>
        <%- include('components/grid/grid'); %>
        <%- include('components/resources'); %>
        <!-- <%- include('components/dropdownSection/dropdownSection', {number: 'three'}); %> -->
        <%- include('components/resourceForm/resourceForm'); %>
        <%- include('components/messages'); %>

    </body>
    <!-- Additional Project Assets and Dependencies -->
    <script src="jquery-mask-plugin/dist/jquery.mask.min.js"></script>
</html>