<div id="grid" class="hide-on-small-only white">
    <h1 class="center-align">Places You Can Help</h1>
    <div id="links">
        <a href="https://careportal.org/open-requests/#open-requests/?view_502_page=1&view_502_filters=%5B%7B%22name%22%3A%22Keyword%20Search%22%2C%22field%22%3A%22keyword_search%22%2C%22ignore_operators%22%3Afalse%2C%22instructions%22%3A%22%22%2C%22operator_default%22%3A%22contains%22%2C%22required%22%3Afalse%2C%22operator%22%3A%22contains%22%2C%22value%22%3A%22oklahoma%22%7D%5D" target="_blank">See Oklahoma Requests Across the Grid</a>
        <a href="https://careportal.org/map/" target="_blank">See CarePortal Opportunities Across the Country</a>
    </div>
    <table class="right-align">
        <thead>
            <%- include('../../partials/gridColumns') %>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h3 class="center-align">Tier 1</h3>
                    <h4 class="center-align">Physical</h4>
                    <h5 class="center-align">Investing In</h5>
                </td>
                <%- include('gridPoint', {point: 'row-1-col-1'}); %>
                <%- include('gridPoint', {point: 'row-1-col-2'}); %>
                <%- include('gridPoint', {point: 'row-1-col-3'}); %>
                <%- include('gridPoint', {point: 'row-1-col-4'}); %>
                <%- include('gridPoint', {point: 'row-1-col-5'}); %>
            </tr>
            <tr>
                <td>
                    <h3 class="center-align">Tier 2</h3>
                    <h4 class="center-align">Relational</h4>
                    <h5 class="center-align">Walking With</h5>
                </td>
                <%- include('gridPoint', {point: 'row-2-col-1'}); %>
                <%- include('gridPoint', {point: 'row-2-col-2'}); %>
                <%- include('gridPoint', {point: 'row-2-col-3'}); %>
                <%- include('gridPoint', {point: 'row-2-col-4'}); %>
                <%- include('gridPoint', {point: 'row-2-col-5'}); %>
            </tr>
            <tr>
                <td>
                    <h3 class="center-align">Tier 3</h3>
                    <h4 class="center-align">Family</h4>
                    <h5 class="center-align">Having Home</h5>
                </td>
                <%- include('gridPoint', {point: 'row-3-col-1'}); %>
                <%- include('gridPoint', {point: 'row-3-col-2'}); %>
                <%- include('gridPoint', {point: 'row-3-col-3'}); %>
                <%- include('gridPoint', {point: 'row-3-col-4'}); %>
                <%- include('gridPoint', {point: 'row-3-col-5'}); %>
            </tr>
            <%- include('../../partials/gridColumns') %>
        </tbody>
    </table>
    <div id="gridmodal" class="modal bottom-sheet"></div>
</div>