<div id="grid" class="hide-on-small-only">
    <h1 class="center-align">Understanding the Grid</h1>
    <table class="right-align">
        <thead>
            <%- include('../../partials/gridColumns') %>
        </thead>
        <tbody>
            <tr>
                <td>
                    <h3 class="center-align">Tier 1</h3>
                    <h4 class="center-align">Physical</h4>
                    <h5 class="center-align">Investing In</h5>
                </td>
                <%- include('gridPoint', {point: 'row-1-col-1'}); %>
                <%- include('gridPoint', {point: 'row-1-col-2'}); %>
                <%- include('gridPoint', {point: 'row-1-col-3'}); %>
                <%- include('gridPoint', {point: 'row-1-col-4'}); %>
                <%- include('gridPoint', {point: 'row-1-col-5'}); %>
            </tr>
            <tr>
                <td>
                    <h3 class="center-align">Tier 2</h3>
                    <h4 class="center-align">Relational</h4>
                    <h5 class="center-align">Walking With</h5>
                </td>
                <%- include('gridPoint', {point: 'row-2-col-1'}); %>
                <%- include('gridPoint', {point: 'row-2-col-2'}); %>
                <%- include('gridPoint', {point: 'row-2-col-3'}); %>
                <%- include('gridPoint', {point: 'row-2-col-4'}); %>
                <%- include('gridPoint', {point: 'row-2-col-5'}); %>
            </tr>
            <tr>
                <td>
                    <h3 class="center-align">Tier 3</h3>
                    <h4 class="center-align">Family</h4>
                    <h5 class="center-align">Having Home</h5>
                </td>
                <%- include('gridPoint', {point: 'row-3-col-1'}); %>
                <%- include('gridPoint', {point: 'row-3-col-2'}); %>
                <%- include('gridPoint', {point: 'row-3-col-3'}); %>
                <%- include('gridPoint', {point: 'row-3-col-4'}); %>
                <%- include('gridPoint', {point: 'row-3-col-5'}); %>
            </tr>
            <%- include('../../partials/gridColumns') %>
        </tbody>
    </table>
    <div id="gridmodal" class="modal bottom-sheet"></div>
</div>